.header{
	margin:10px auto;
	.logo img{
		display:block;
		height: 85px;
	}
}
.header_cart{
	width: 130px;
	margin-left: 10px;
	margin-top: 15px;
	a{
		border-radius: 3px;
		text-indent: 40px;
		display: block;
		height: 32px;
		background:#fff url("../../dist/img/header_icon3.min.png") no-repeat 10px center; 
		border: 1px solid #ccc;
		line-height: 32px;
		
	}
}

.header_search{
	width: 510px;
	margin-top:15px;
}
.header_search_text{
	border: 2px solid #353535;
	height: 32px;
	.text{
		    display: block;
			height: 32px;
			width: 450px;
			float: left;
			border: none;
			outline: none;
			background: url("../../dist/img/header_icon11.min.png") no-repeat 5px center;
			text-indent: 30px
	}
	.but{
		display: block;
		width: 50px;
		height: 32px;
		float: right;
		border: none;
		background: url(../../dist/img/header_icon2.min.png) no-repeat 2px center;
		cursor: pointer;
		outline: none;
	}
}
.header_search_tip{
	color:#8AA094 ;
	font-size: 12px;
	line-height:26px ;
	a{
		color:#8AA094  ;
	}
}
.header_nav{
	height: 40px;
	border-bottom: 2px solid #000;
	//background: #000088;
	.w_1100{
		display:flex ;
	}
}
.hc_lnav {
    z-index: 9999;
    position: relative;
    width: 160px;
}

 .allbtn h2 {
    font-size: 12px;
    color: #fff;
    background: #151515 url("../../dist/img/menu_icon1.min.png") no-repeat 30px center;
    height: 40px;
    line-height: 40px;
    text-align: center;
	
}
.allbtn h2:hover ul{
		display: block;
	}
.hc_lnav .allbtn ul {
   // z-index: 99999;
    position: absolute;
    background: url("../../dist/img/menu_bg.min.png") repeat;
	//background: rgba(0,0,0,0.7);
    width: 160px;
    height: 402px;
    top: 40px;
    left: 0px;
    display: none;
	li:hover >div{
		display: block;
	}
	li{
	position: relative;	
    height: 36px;
    zoom: 1;
    clear: both;
    cursor: default;
	>a{
		color: #ffffff;
		margin-left: -40px;
		font-size: 14px;
		display: block;
		line-height: 40px;
		background: url("../../dist/img/menu_icon2.min.png") no-repeat 180px center;
	}
	.pop{
		position:absolute;
		left: 160px;
		top:0px;
		background: #fff;
		border: 1px solid #000;
		width: 640px;
		display: none;
		dl{
			display: flex;
			padding: 20px 30px 20px 0px;
		}
		dt{
			width: 110px;
			font-weight: bold;
			color: #000000;
			text-align:center;
			
		}
		dd{
			border-bottom: 1px dotted gray;
			padding-bottom: 18px;
			width: 530px;
			text-align: left;
		}
		dd a{
			display: inline-block;
			line-height: 30px;
			color: #000000;
			margin-right: 20px;
			font-weight: 500;
		}
		}
	}
}

.nav{
	margin-left: 20px;
	height: 40px;
	overflow: hidden;
	li{
		float: left;
		margin: 0px 20px;
		a{
			font-size: 14px;
			line-height:40px ;
			font-weight: bold;
			
		}
		a:hover{
			color: red;
		}
	}
}
.header_nav_moblie{
	margin-left: 347px;
	width: 133px;
	text-indent: 10px;
	line-height: 40px;
	color: darkred;
	background:url("../../dist/img/mobile_icon1.min.png") no-repeat 0px  ;
}